html {
    background: #065713;
    background-size: cover;
}


.loginButton {
    background-color: white;
    color: black;
    font-weight: bold;
    border: black;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 16px;
    outline: none;
    transition: all .2s ease-in-out;
}

.loginButton:hover {
    background-color: #065713;
    color: ghostwhite;
    transform: scale(1.1);
    border-color: ghostwhite;
    border-width: medium;
    border-style: solid;
}

.createANewAccountButton:hover {
    background-color: #065713;
    color: ghostwhite;
    transform: scale(1.1);
    border-color: ghostwhite;
    border-width: medium;
    border-style: solid;
}

.showDiv {
    background-color: red;
}

.username-password-box {
    width: 200px;
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

.forgotPassword {
    font-family: Poly;
    font-size: 15px;
    color: white;
}

.dartPollTitle {
    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 61px;
    color: white;
}

.flex-child-Dartmouth {
    margin-right: 10px;
    margin-top: 10px;
}

.createANewAccountButton {
    background-color: white;
    color: black;
    font-weight: bold;
    border: black;
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 16px;
    outline: none;
    transition: all .2s ease-in-out;
}

.createANewAccountText {
    font-family: Poly;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    color: white;
}

.flex-container-polls {
    display: flex;
}

.flex-container-profile {
    display: flex;
    margin-bottom: 10px;
}

.flex-child-profile {
    flex: auto;
}

/* Split the screen in half */
.flex-container {
    display: flex;
    justify-content: space-evenly;
}

.flex-child {
    flex: auto;
    background-color: lightslategray;
 }

.flex-child-polls1 {
    flex:auto;
}

.respondents {
    width: 8em;
    height: 20px;
    background-color: #cfd186;
    border-color: black;
    border-width: thin;
    border-style: solid;
}

.category-div {
    height: 20px;
    background-color: #cfd186;
    border-color: black;
    border-width: thin;
    border-style: solid;
    float: right;
    padding-right: 1em;
    padding-left: 1em; 

}


.respondentsText {
    margin-top: 2px;
    font-weight: bold;
    font-size: 0.75em;
}

.category-text {
    margin-top: 2px;
    font-weight: bold;
    font-size: 0.75em;
    text-align: right;
}

.flex-child-icons {
    padding-top: 25px;
    flex: 1;
    transition: all .2s ease-in-out;
}

.flex-child-topBar {
    flex: 1;
}

.dartPollSecondTitle {
    vertical-align: top;
    font: Poly;
}

.createAPoll {
    text-decoration: underline;
    font-weight: bold;
}

.hide {
    display:none;
}

.topBar {
    display: table;
}

.myInput {
    background-image: url('/css/searchicon.png');
    background-repeat: no-repeat;
    width: 50%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 5px solid #ddd;
    margin-bottom: 12px;
    align-items: center;
    border-radius: 10px;
}

.roundedButton {
    background-color: ghostwhite;
    border-width: medium;
    border-color: black;
    color: black;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50px;
    outline: none;
}

.roundedButton:hover {
    background-color: #5b8c5a;
    border-width: medium;
    border-color: black;
    color: #cfd186;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50px;
}

.createAPollLine {
      border-width: 2px;
      border-color: #065713;
}

.btn-hover {
    width: 8em;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 3em;
    border-width: medium;
    border-color: rgb(12, 12, 12);
    border-style: solid;
    text-align:center;
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    outline: none;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    border-color: white;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #065713, #40e495, #30dd8a, #2bb673);
    box-shadow: 0 4px 15px 0 #065713;
}

.polls{
    background-color: #5b8c5a;
    padding-top: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border-width: medium;
    border-color: black; 
    border-style: solid;
}

.pollTitle {
    font-size: xx-large;
    overflow-wrap: break-word;
    font-weight: bold;
}

.poll-title-container {
    margin-top: 0em;
    margin-bottom: -1em;
}

.signedInAs {
    padding-top: 1px;
    background-color: #596157;
    padding-bottom: 3px;
    border-radius: 45px;
}

.signedInAsText {
    color: #cfd186;
    font-size: large;
    font-weight: bolder;
}

.iconDivs {
    background-color: #596157;
    border-radius: 10px;
    margin: 10px;
}

.iconDivsAtHome {
    background-color: #5b8c5a;
    border-radius: 10px;
    margin: 10px;
}

.iconDivsAtProfile {
    background-color: #5b8c5a;
    border-radius: 10px;
    margin: 10px;
}

.iconText {
    color: #cfd186;
    font-weight: bolder;
}

.userInfo {
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
    display: inline-block;
}

.flex-child-icons:hover {
    background-color: rgb(73, 185, 29);
    transform: scale(1.1);
}

.userInfoBox {
    background-color: #596157;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 30px;
    align-items: center;
}

.userInfoText {
    font-size: x-large;
    color: #cfd186;
    font-weight: bolder;
}

/* .userInfoTextBelow {
    margin-top: 0px;
    font-size: x-large;
    color: #cfd186;
    font-weight: bolder;
} */

.userInfoLineLeft {
    margin-top: -1em;
    margin-left: 0.25em;
}

.userInfoLineRight {
    margin-top: -1em;
    padding-right: 0.5em;
}

.pollBackground{
    background-color: white;
    display: 'flex';
    justify-content:'center'; 
    align-items: 'center';
    flex-flow: 'row wrap';
    height: '100vh'
  }

.toggleButtons {
    background-color: white;
    color: white;
    border: black;
    padding: 4px 28px;
    font-size: 16px;
}

.flex-child-poll-delete {
    margin-right: 5px;
}

.flex-child-poll-edit {
    margin-left: 5px;
}

.flex-container-poll-edit-or-delete {
    display: flex;
    justify-content: space-around;
}

.edit-poll-category-button {
    border-style: solid;
    border-color: black;
    height: 30px;
    font-weight: bold;
    font-size: medium;
    outline: none;
    transition: all .2s ease-in-out;
    background-color: #065713;
    color: ghostwhite;
}

.edit-poll-category-button:hover {
    background-color: rgb(73, 185, 29);
    color: ghostwhite;
    transform: scale(1.1);
}

.delete-poll-button {
    border-style: solid;
    border-color: black;
    height: 30px;
    font-weight: bold;
    font-size: medium;
    outline: none;
    background-color: rgb(236, 82, 82);
    transition: all .2s ease-in-out;
}

.delete-poll-button:hover {
    background-color: crimson;
    color: ghostwhite;
    transform: scale(1.1);
}

.enter-question {
    color: #cfd186;
    font-weight: bold;
}

.question-input-box {
    width: 15em;
    height: 2em;
    padding-left: 0.5em;
}

.enter-answer-choices {
    color: #cfd186;
    font-weight: bold;
}

.answer-choices-input-box {
    width: 15em;
    height: 2em;
    padding-left: 0.5em;
    /* get gokul to explain */
}

.enter-category-text {
    color: #cfd186;
    font-weight: bold;
}

.enter-time-length {
    color: #cfd186;
    font-weight: bold;
}

.time-length-input-box {
    width: 15em;
    height: 2em;
    padding-left: 0.5em;
}

.delete-answer-choice-button {
    margin: 1em;
    width: 5em;
    height: 2em;
    border-radius: 1em;
    background-color: rgb(236, 82, 82);
    border-style: solid;
    border-width: thin;
    border-color: black;
    font-weight: bold;
    outline: none;
    transition: all .2s ease-in-out;
}

.delete-answer-choice-button:hover {
    background-color: crimson;
    color: ghostwhite;
    transform: scale(1.1);
}

.add-answer-choice-button {
    background-color: lightslategray;
    width: 10em;
    outline: none;
    font-weight: bold;
    border: black;
    border-width: medium;
    border-style: solid;
    font-size: 0.75em;
    transition: all .2s ease-in-out;
}

.add-answer-choice-button:hover {
    background-color: rgb(52, 52, 52);
    color: ghostwhite;
    transform: scale(1.1);
}

.category-button {
    height: 2em;
    font-size: small;
    font-weight: bold;
    background-color: #065713;
    border-color: black;
    color: ghostwhite;
    border-style: solid;
    border-width: thin;
    outline: none;
}

.select-another-category-button:hover {
    color: black;
    background-color: rgb(73, 185, 29);
    transform: scale(1.1);
}

.select-another-category-button {
    height: 2em;
    font-size: small;
    font-weight: bold;
    background-color: #065713;
    border-color: black;
    color: ghostwhite;
    border-style: solid;
    border-width: thin;
    outline: none;
    transition: all .2s ease-in-out;
}


.other-categories {
    height: 2em;
    font-size: small;
    font-weight: bold;
}

.other-categories-container {
    background-color: lightslategray;
    border-color: black;
    color: ghostwhite;
    border-style: solid;
    border-width: thin;
    height: 4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: flex;
}

.your-info {
    color: #cfd186;
    text-decoration: underline;
    font-size: 3em;

}

.your-info-box {
    margin-bottom: -2em;
}

.userInfoLineLeftTop {
    margin-top: 1em;
    margin-left: 0.25em;
}

.userInfoLineRightTop {
    margin-top: 1em;
    margin-right: 0.25em;
}

.top-info {
    margin-top: -1em;
}

.polls-in-profile-container {
    padding-right: 2em;
    padding-left: 2em;
    align-items: center;
}

.polls-in-profile-box {
    background-color: #596157;
    border-radius: 5em;
    padding-bottom: 2.5em;
}

.polls-in-profile {
    margin-bottom: 2em;
    padding-bottom: 2.5em;
    border-bottom: 0.2em;
    border-top: 0em;
    border-left: 0em;
    border-right: 0em;
    border-style: solid;
    border-color: ghostwhite;
}

.my-polls {
    font-size: 3em;
    text-decoration: underline;
}

.my-polls-box {
    padding-top: 0.25em;
    color: #cfd186;
    margin-bottom: 1em;
    border-bottom: 0.2em;
    border-top: 0em;
    border-left: 0em;
    border-right: 0em;
    border-style: solid;
    border-color: ghostwhite;
}

.answer-choices {
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    transition: all .2s ease-in-out;
    outline: none;
    font-size: 0.9em;
    font-weight: bolder;
    background-color: lightslategray;
    border-width: thin;
    border-color: black;
    border-style: solid;
}

.answer-choices:hover {
    background-color: #065713;
    color: ghostwhite;
    transform: scale(1.1); 
}

.answer-choices-div {
    margin-top: 1em;
}

.answer-choices-input-bar {
    width: 12em;
    height: 1.6em;
    padding-left: 0.5em;
}

/* For countdown styling 
* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

h1 {
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}

.countdown-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.countdown-item {
    color: #111;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 30px;
    margin: 10px;
    padding-top: 10px;
    position: relative;
    width: 100px;
    height: 100px;
}

.countdown-item span {
    color: #333;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
} */